<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          {% comment %} <div class="modal-header border-bottom-0">
             <h5 class="modal-title" id="modal_title">Delete Confirmation </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>  {% endcomment %}
          <div class="modal-body text-center p-0">
            <i class="ri-alert-line display-3 pr-0 text-danger"></i>
            <p id="modal_content"></p>
          </div>
          
          <div class="border-top-0 text-center pb-2">
             <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
             <a href="#" id="comfirmModalDelete"  class="btn btn-danger" >Delete</a>
          </div>
       </div>
    </div>
 </div>


