
    {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Ecommerce</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/remixicon/fonts/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/backend.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  
